---
http_interactions:
- request:
    method: put
    uri: http://rediger.billomat.net/api/clients/169499
    body:
      encoding: UTF-8
      string: ! '{"client":{"id":169499,"created":"2012-11-03T13:25:05+01:00","client_number":"4","number":"4","number_pre":"","name":"new
        name","salutation":"","first_name":"Jan-Erik","last_name":"Rediger","street":"Königshügel
        23","zip":"52074","city":"Aachen","state":"","country_code":"DE","phone":"","fax":"","mobile":"","email":"jer@rrbone.net","www":"","tax_number":"","vat_number":"","bank_account_owner":"","bank_number":"","bank_name":"","bank_account_number":"","bank_swift":"","bank_iban":"","tax_rule":"COUNTRY","discount_rate_type":"SETTINGS","discount_rate":"","discount_days_type":"SETTINGS","discount_days":"14","due_days_type":"SETTINGS","due_days":"31","reminder_due_days_type":"SETTINGS","reminder_due_days":"7","offer_validity_days_type":"SETTINGS","offer_validity_days":"0","price_group":"0","note":"shop-id:
        1","revenue_gross":"10.000000","revenue_net":"8.400000"}}'
    headers:
      X-Billomatapikey:
      - e1923a9ab25fc955be3321725be882bd
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"client":{"id":"169499","created":"2012-11-03T13:25:05+01:00","client_number":"4","number":"4","number_pre":"","name":"new
        name","salutation":"","first_name":"Jan-Erik","last_name":"Rediger","street":"K\u00f6nigsh\u00fcgel
        23","zip":"52074","city":"Aachen","state":"","country_code":"DE","phone":"","fax":"","mobile":"","email":"jer@rrbone.net","www":"","tax_number":"","vat_number":"","bank_account_owner":"","bank_number":"","bank_name":"","bank_account_number":"","bank_swift":"","bank_iban":"","tax_rule":"COUNTRY","discount_rate_type":"SETTINGS","discount_rate":"","discount_days_type":"SETTINGS","discount_days":"14","due_days_type":"SETTINGS","due_days":"31","reminder_due_days_type":"SETTINGS","reminder_due_days":"7","offer_validity_days_type":"SETTINGS","offer_validity_days":"0","price_group":"0","note":"shop-id:
        1","revenue_gross":"10.000000","revenue_net":"8.400000"}}'
  recorded_at: Thu, 15 Nov 2012 20:15:33 GMT
recorded_with: VCR 2.2.5
