---
http_interactions:
- request:
    method: post
    uri: http://rediger.billomat.net/api/invoices/352709/email
    body:
      encoding: UTF-8
      string: ! '{"email":{"recipients":{"cc":"f4a269895b2c7eccd43296d2b@mailinator.com","to":"M8R-10apg01@mailinator.com"},"from":"janerik@badbill.net","subject":"subject","body":"body","filename":"invoice","attachments":{"attachment":{"filename":"more.pdf","mimetype":"application/pdf","base64file":"Zm9vYmFyCg=="}}}}'
    headers:
      X-Billomatapikey:
      - e1923a9ab25fc955be3321725be882bd
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 14 Nov 2012 19:57:14 GMT
recorded_with: VCR 2.2.5
