---
http_interactions:
- request:
    method: post
    uri: http://rediger.billomat.net/api/invoices/352709/email
    body:
      encoding: UTF-8
      string: ! '{"email":{"recipients":{"to":"foo.bar.baz"},"from":"sender@test.example","subject":"subject"}}'
    headers:
      X-Billomatapikey:
      - e1923a9ab25fc955be3321725be882bd
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 14 Nov 2012 19:58:18 GMT
recorded_with: VCR 2.2.5
