---
http_interactions:
- request:
    method: put
    uri: http://rediger.billomat.net/api/clients/169500
    body:
      encoding: UTF-8
      string: ! '{"client":{"name":"new name","id":169500}}'
    headers:
      X-Billomatapikey:
      - e1923a9ab25fc955be3321725be882bd
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"errors":{"error":"Row not found"}}'
  recorded_at: Thu, 15 Nov 2012 20:20:04 GMT
recorded_with: VCR 2.2.5
