---
http_interactions:
- request:
    method: post
    uri: http://rediger.billomat.net/api/clients/
    body:
      encoding: UTF-8
      string: ! '{"client":{"email":"this@is.invalid"}}'
    headers:
      X-Billomatapikey:
      - e1923a9ab25fc955be3321725be882bd
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"errors":{"error":"invalid email address"}}'
  recorded_at: Mon, 05 Nov 2012 15:46:42 GMT
recorded_with: VCR 2.2.5
